.container {
  max-width: 500px;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 12px;
  background: #d6c8c8ff;
}

.title {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: 800;
  text-align: center;
}

.textarea {
  margin-bottom: 2rem;
  width: 95%;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid rgb(0, 0, 0);
  resize: none;
}

.message {
  margin-top: 1rem;
  color: rgb(19, 5, 6);
  font-size: 1rem;
  text-align: center;
  font-weight: 800;
}