.wrapper {
  text-align: center;
  width: 100%;
}

.btn {
  margin-bottom: 2rem;
  padding: 0.8rem 1.2rem;
  border-radius: 30px;
  border: 3px solid #444;
  background: white;
  cursor: pointer;
  font-weight: 700;
}
.btn:hover {
  border-color: var(--color-accent);
}