.container {
  padding: 5rem;
  margin: 3rem auto;
  line-height: 1.6;
  background: #d6c8c8ff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 900px;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: center;
}

.text {
  font-size: 1.1rem;
  color: #080707ff;
  font-weight: 550;
  margin-top: 2rem;
}

.nav {
  padding: 1rem;
  background: #eee;
}

.navLink {
  margin-right: 1rem;
  font-weight: 800;
  color: #080707ff;
  text-decoration: none;
}