.container {
  max-width: 500px;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 12px;
  background: #d6c8c8ff;
}

.title {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: 800;
  text-align: center;
}

.textarea {
  width: 95%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0);
  resize: none;
}

.buttonWrapper {
  text-align: center;
  margin-top: 2rem;
}

.button {
  padding: 0.8rem 1.4rem;
  border-radius: 30px;
  border: 3px solid #555;
  background: #fff;
  font-weight: 700;
  cursor: pointer;
}

.message {
  margin-top: 1rem;
  color: rgb(19, 5, 6);
  font-size: 1rem;
  text-align: center;
  font-weight: 800;
}