.container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 800;
}

.image {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
  border-radius: 10px;
}

.textLeft {
  text-align: left;
  margin: 0.5rem 0;
  line-height: 1.5;
  font-size: 1rem;
}

