.container {
  padding: 5rem;
  margin: 5rem auto;
  line-height: 1.6;
  background: rgb(182, 210, 245);
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 800px;
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
}

.search {
  border: 2px solid black;
  padding: 0.5rem;
  width: 240px;
  display: block;
  margin: 2rem auto 1rem;
}

.list {
  list-style: disc;
  padding-left: 20px;
  color: black;
  margin: 2rem auto 1rem;
}

.item {
  margin: 1rem 0;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
